 
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

:root {
  --border-color-1: rgba(183, 217, 254, 0.3); /* #B9D9FE shaffof */
  --border-color-2: rgb(240, 148, 112); /* #F09470 */
  --background: rgba(30, 29, 34, 1);
  --foreground: #D1D5DB;
  --border-size: 2px;
  --border-radius: 1rem;
}

@keyframes rotateGradient {
  to { --angle: 360deg; }
}

.buttonContainer {
  position: relative;
  min-width: 260px;
  flex-basis: 320px;
  flex-grow: 1;
  padding: var(--border-size);
  border-radius: var(--border-radius);
  background: linear-gradient(var(--background), var(--background)) padding-box,
    conic-gradient(from var(--angle), var(--border-color-1), var(--border-color-2), var(--border-color-1)) border-box;
  border: var(--border-size) solid transparent;
  animation: rotateGradient 3s linear infinite;
  transition: transform 0.3s ease, background 0.3s ease;
}

.buttonContainer:hover {
  transform: scale(1.02);
  background: linear-gradient(rgba(12, 11, 16, 1), rgba(12, 11, 16, 1)) padding-box,
    conic-gradient(from var(--angle), var(--border-color-1), var(--border-color-2), var(--border-color-1)) border-box;
}

.innerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;
  border-radius: calc(var(--border-radius) - var(--border-size));
  background: var(--background);
  color: var(--foreground);
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30.8px;
  line-height: 1;
  letter-spacing: 0;
  transition: color 0.3s ease, background 0.3s ease;
}

.buttonContainer:hover .innerContent {
  background: rgba(12, 11, 16, 1);
  color: white;
}
 